        *{
            text-align:left;
            font-size:14px;
            font-family:"DejaVu Sans Mono" !important;
        }
        div{
            border:1px solid red;
        }
        #main{
            width:90%;
            height:900px;
            border:1px solid red;
        }
        #left{
            width:20%;
            height:80%;
            border:1px solid red;
            margin:10px;
            float:left;
        }
        #middle{
            width:60%;
            height:80%;
            border:1px solid red;
            margin:10px;
            float:left;
        }
        #title{
            height:40px;
        }
        #right{
            width:10%;
            height:80%;
            border:1px solid red;
            margin:10px;
            float:left;
        }

